* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

#header {
    text-align: center;
    padding: 3em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.header-title {
    color: blue;
    font-size: 3rem;
}

.header-description {
    max-width: 28em;
    margin: auto;
    font-size: 1.5rem;
}

#main {
    display: flex;
    flex-direction: row;
}

.profile-image1 {
    width: 100%;
    max-width: 400px;
    height: auto;
    border: 5px solid blue;
    box-shadow: 30px 30px 30px blue;
}

.profile-image2 {
    width: 100%;
    max-width: 400px;
    height: auto;
    border: 5px solid pink;
    box-shadow: 30px 30px 30px rgb(255, 60, 93);
}

.profile {
    margin: auto;
}

@media only screen and (max-width: 900px) {
    #main {
      flex-direction: column;
      gap: 5em;
    }
}

@media only screen and (max-width: 450px) {
    #main {
      padding: 0 1em;
    }
}